<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
  <body>
    <%- include('partials/header') %>
    <div class="content-container">
      <%- include('partials/select-playlist', {user1: {id: 1, name: 'Adam'},
      user2: {id: 4, name: "Matt Sampson"}}) %>
      <div id="playlist-container">No Playlist Selected</div>
      <%- include('partials/music-player') %>
    </div>
  </body>
  <%- include('partials/footer') %>
</html>
