<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
  <script src="https://sdk.scdn.co/spotify-player.js"></script>
  <script src="/scripts/music-player.js"></script>
  <body>
    <%- include('partials/header') %>
    <div class="content-container">
      <%- include('partials/select-playlist', { user1, user2 }) %>
      <div id="playlist-container" />
      <%- include('partials/transfer-playback') %>
    </div>
  </body>
  <%- include('partials/footer') %>
</html>
