<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
  <script src="https://sdk.scdn.co/spotify-player.js"></script>
  <script src="/scripts/music-player.js"></script>
  <body>
    <%- include('partials/header') %>
    <div class="content-container">
      <%- include('partials/select-playlist', { user1, user2 }) %>
      <div id="playlist-container"></div>
      <!-- prettier-ignore -->
      <% if (sessionHasSpotifyAccessToken) { %> 
        <%- include('partials/transfer-playback') %> 
      <% } else { %> 
        <%- include('partials/login-to-spotify-button', { spotifyLoginRedirectURL }) %>
      <% } %>
    </div>
  </body>
  <%- include('partials/footer') %>
</html>
