<div
  class="music-player-container elevated bordered-container"
  id="music-player-container"
>
  <!-- prettier-ignore -->
  <div class="track-container" id="music-player-track-information">
    <!-- prettier-ignore -->
    <%- 
    include('track/album-image', { 
      imageUrl: track.imageUrl, 
      trackName: track.name, 
      artistName: track.artists.map(artist => artist.name).join(', '),
      id: 'music-player-track-image'
    }); %>
    <div class="track-information">
      <div class="track-title" id="music-player-track-name">
        <%= track.name %>
      </div>
      <div class="track-artist" id="music-player-track-artist">
        <%= track.artists.map(artist => artist.name).join(', ') %>
      </div>
    </div>
  </div>
  <div class="play-state-container" id="music-player-play-state">
    <div class="track-duration-container">
      <div class="track-duration" id="track-progress-text">
        <%= secondsToTimeFormat(playState.trackPosition) %>
      </div>
      <progress
        class="track-progress-bar"
        value="<%= playState.trackPosition %>"
        max="<%= playState.trackDuration %>"
        id="track-progress-bar"
      ></progress>
      <div class="track-duration" id="track-duration-text">
        <%= secondsToTimeFormat(playState.trackDuration) %>
      </div>
    </div>
    <div class="track-controls-container">
      <!-- Previous Track -->
      <button
        class="track-controls-button"
        aria-label="Previous track"
        id="previous-track-button"
        style="background-color: transparent"
      >
        <img
          src="/images/icons/icon-previous.svg"
          alt="Previous Track Icon"
          class="track-controls-icon"
        />
      </button>

      <!-- Pause and Play BUttons-->
      <button
        class="track-controls-button"
        aria-label="Play or pause track"
        id="toggle-play-pause-button"
        style="background-color: transparent"
      >
        <img
          src="/images/icons/icon-play.svg"
          alt="Play Track Icon"
          class="track-controls-icon"
          id="toggle-play-pause-img"
        />
      </button>

      <!-- Next Track -->
      <button
        class="track-controls-button"
        aria-label="Next track"
        id="next-track-button"
        style="background-color: transparent"
      >
        <img
          src="/images/icons/icon-next.svg"
          alt="Next Track Icon"
          class="track-controls-icon"
        />
      </button>
    </div>
  </div>
</div>
