<div class="select-playlist-container bordered-container">
  <button
    class="playlist-button"
    hx-get="/player/playlist?userId1=<%= user1.id  %>=1&userId2=<%= user2.id %>&preferenceType=USER1-ONLY"
    hx-trigger="click"
    hx-target="#playlist-container"
    hx-swap="innerHTML"
  >
    <%= user1.name %>
  </button>
  <button
    class="playlist-button"
    hx-get="/player/playlist?userId1=<%= user1.id  %>=1&userId2=<%= user2.id %>&preferenceType=BOTH"
    hx-trigger="click"
    hx-target="#playlist-container"
    hx-swap="innerHTML"
  >
    Mix
  </button>
  <button
    class="playlist-button"
    hx-get="/player/playlist?userId1=<%= user1.id  %>=1&userId2=<%= user2.id %>&preferenceType=USER2-ONLY"
    hx-trigger="click"
    hx-target="#playlist-container"
    hx-swap="innerHTML"
  >
    <%= user2.name %>
  </button>
</div>
