<div class="track-container bordered-container" id="track-spotify-<%= track.spotifyId %>">
  <!-- prettier-ignore -->
  <%- include('track/album-image', { 
      imageUrl: track.imageUrl, 
      trackName: track.name, 
      artistName: track.artists.map(artist => artist.name).join(', ')
    }); %>
  <div class="track-information">
    <div class="track-title"><%= track.name %></div>
    <div class="track-artist">
      <%= track.artists.map(artist => artist.name).join(', ') %>
    </div>
  </div>
  <div
    class="track-button-play"
    hx-trigger="click"
    hx-put="/api/music/play-tracks"
    hx-vals='{"trackIds": [<%= trackIds.join(',') %>], "offset": <%= track.index %>}'
  ></div>
</div>
